.root {
  height: 100%;

  padding: 0 80px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  & .submitBtn {
    height: 44px;

    justify-content: center;
  }

  @include media-max($md) {
    padding: 0 24px 110px 24px;

    justify-content: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  & .input {
    width: 100%;
  }
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.colorBtn {
  color: #ffffff !important;
}
